@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=League+Spartan:wght@400;500;700&family=Lexend+Deca&display=swap');


* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 0.95em;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}

@media (max-width: 720px) {
    body {
        min-height: 0;
    }
}