@import url(../variable.css);

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=League+Spartan:wght@400;500;700&family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@600&display=swap');

.c-preview-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 48px;
    background-color: var(--preview-card--bgc);
}

/* Border on the first and last cards */
.c-preview-card:first-child {
    border-radius: 10px 0 0 10px;
}
.c-preview-card:last-child {
    border-radius: 0 10px 10px 0;
}

/* Different colors of each card */
.c-preview-card--sedans {
    --preview-card--bgc: #e28325;
}
.c-preview-card--suvs {
    --preview-card--bgc: #016972;
}
.c-preview-card--luxury {
    --preview-card--bgc: #00403f;
}

/* Inside the card */
.c-preview-card__content > .c-preview-card__img, .c-preview-card__title, .c-preview-card__text {
    margin-bottom: 25px;
}

.c-preview-card__title {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.5em;
    color: var(--Very-light-gray);
}

.c-preview-card__text {
    line-height: 1.5;
    color: var(--main-paragraphs-color);
}

.c-preview-card__button {
    height: 20px;
    width: 140px;
    padding: 22px 0px;
    border-radius: 30px;

    color: var(--preview-card--bgc);
    background-color: var(--Very-light-gray);
    
    cursor: pointer;
    font-size: 1em;
    font-family: 'Lexend Deca', sans-serif;    

    display: flex;
    align-items: center;
    justify-content: center;
}

.c-preview-card__button:hover {
    background-color: transparent;
    border: 2px solid var(--Very-light-gray);
    color: var(--Very-light-gray);
}

@media (max-width: 720px) {
    .c-preview-card:first-child {
        border-radius: 10px 10px 0 0;
    }
    .c-preview-card:last-child {
        border-radius: 0 0 10px 10px;
    }
}